<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel - Edit Coach</title>

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/cimg/favicons/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-touch-icon-60x60.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-16x16.png}" sizes="16x16">
    <link rel="manifest" th:href="@{/img/favicons/manifest.json}">
    <link rel="shortcut icon" th:href="@{/img/favicons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/adminPanel.css}" rel="stylesheet" type="text/css">
</head>
<body>

<header th:insert="admin/adminPanelNav :: nav"></header>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="site-content">
                <section class="vh-100 gradient-custom">
                    <div class="container py-5 h-100">
                        <div class="row justify-content-center align-items-center h-100">
                            <div class="col-12 col-lg-9 col-xl-7">
                                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                                    <div class="card-body p-4 p-md-5">
                                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" th:text="#{register.registrationForm}">
                                            Registration Form</h3>
                                        <form th:action="@{/admin/updateCoach/{id}(id=${userDto.id})}" th:method="post"
                                              th:object="${userDto}">
                                            <input type="text" id="typeUser" hidden
                                                   th:field="*{typeUser}">
                                            <input type="text" id="role" hidden
                                                   th:field="*{role}">

                                            <div class="mb-3">
                                                <h6 class="mb-2 pb-1" th:text="#{user.field.gender}">Gender: </h6>
                                                <div th:each="genderValue : ${T(com.example.springsecuritydemo.model.Gender).values()}">
                                                    <label for="inputGender" class="small mb-1"
                                                           th:text="${genderValue.displayValue}"></label>
                                                    <input
                                                            type="radio"
                                                            class="form-check-input"
                                                            id="inputGender"
                                                            th:field="*{gender}"
                                                            th:value="${genderValue}"/>
                                                </div>
                                                <span class="alert-danger" th:if="${#fields.hasErrors('gender')}"
                                                      th:errors="*{gender}">Name Error</span>
                                            </div>

                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (first name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputFirstName"
                                                           th:text="#{user.field.firstName}">First
                                                        name</label>
                                                    <input class="form-control" id="inputFirstName" type="text"
                                                           placeholder="Enter your first name" th:field="*{firstName}">
                                                    <span class="alert-danger" th:if="${#fields.hasErrors('firstName')}"
                                                          th:errors="*{firstName}">Name Error</span>
                                                </div>
                                                <!-- Form Group (last name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLastName"
                                                           th:text="#{user.field.lastName}">Last
                                                        name</label>
                                                    <input class="form-control" id="inputLastName" type="text"
                                                           placeholder="Enter your last name" th:field="*{lastName}">
                                                    <span class="alert-danger" th:if="${#fields.hasErrors('lastName')}"
                                                          th:errors="*{lastName}">Name Error</span>
                                                </div>
                                            </div>

                                            <!-- Form Group (email address)-->
                                            <div class="mb-3">
                                                <label class="small mb-1" for="inputEmailAddress"
                                                       th:text="#{user.field.email}">Email
                                                    address</label>
                                                <input class="form-control" id="inputEmailAddress" type="email"
                                                       placeholder="Enter your email address" th:field="*{email}">
                                                <span class="alert-danger" th:if="${#fields.hasErrors('email')}"
                                                      th:errors="*{email}">Name Error</span>
                                                <span class="alert-danger" th:if="${message}"
                                                      th:text="${message}"></span>

                                                <label class="small mb-1" for="inputPassword"
                                                       th:text="#{user.field.password}">Password</label>
                                                <input class="form-control" id="inputPassword" type="text"
                                                       placeholder="Enter your password" th:field="*{password}">
                                                <span class="alert-danger" th:if="${#fields.hasErrors('password')}"
                                                      th:errors="*{password}">Name Error</span>

                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (phone number)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputPhone"
                                                           th:text="#{user.field.phone}">Phone
                                                        number</label>
                                                    <input class="form-control" id="inputPhone" type="tel"
                                                           placeholder="Enter your phone number" th:field="*{phone}">
                                                    <span class="help-block">Format: 0962750198</span>
                                                    <span class="alert-danger" th:if="${#fields.hasErrors('phone')}"
                                                          th:errors="*{phone}">Name Error</span>
                                                </div>
                                                <!-- Form Group (birthday)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputBirthday"
                                                           th:text="#{user.field.birthDate}">Birthday</label>
                                                    <input type="date" class="form-control" id="inputBirthday"
                                                           name="birthday"
                                                           placeholder="Enter your birthday" th:field="*{birthDate}">
                                                    <span class="alert-danger" th:if="${#fields.hasErrors('birthDate')}"
                                                          th:errors="*{birthDate}">Name Error</span>
                                                </div>
                                            </div>
                                            <div id="coachContent"
                                                 th:if="${userDto.typeUser == T(com.example.springsecuritydemo.model.dto.TypeUser).COACH}">
                                                <div class="mb-3">
                                                    <label class="small mb-1" for="inputEducation"
                                                           th:text="#{coach.field.education}">Education</label>
                                                    <input type="text" class="form-control" id="inputEducation"
                                                           name="birthday"
                                                           placeholder="Enter your education" th:field="*{education}">
                                                    <span class="alert-danger" th:if="${#fields.hasErrors('education')}"
                                                          th:errors="*{education}">Name Error</span>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="small mb-1" for="inputAchievement"
                                                           th:text="#{coach.field.achievement}">Achievement</label>
                                                    <input type="text" id="inputAchievement"
                                                           class="form-control" placeholder="Enter your achievement"
                                                           th:field="*{achievement}"/>
                                                    <span class="alert-danger"
                                                          th:if="${#fields.hasErrors('achievement')}"
                                                          th:errors="*{achievement}">Name Error</span>
                                                </div>

                                                <div class="mb-3">
                                                    <label class="small mb-1" for="inputAdditionalInfo"
                                                           th:text="#{coach.field.additionalInfo}">Additional
                                                        Info</label>
                                                    <input type="text" id="inputAdditionalInfo"
                                                           class="form-control" placeholder="Enter your additional info"
                                                           th:field="*{additionalInfo}"/>
                                                    <span class="alert-danger"
                                                          th:if="${#fields.hasErrors('additionalInfo')}"
                                                          th:errors="*{additionalInfo}">Name Error</span>
                                                </div>

                                                <div class="mb-3">
                                                    <label class="small mb-1" for="inputSpecialization"
                                                           th:text="#{coach.field.specialization}">Specialization</label>
                                                    <input type="text" id="inputSpecialization"
                                                           class="form-control" placeholder="Enter your additional info"
                                                           th:field="*{specialization}"/>
                                                    <span class="alert-danger"
                                                          th:if="${#fields.hasErrors('specialization')}"
                                                          th:errors="*{specialization}">Name Error</span>
                                                </div>
                                            </div>

                                            <div class="mt-4 pt-2">
                                                <button type="submit"
                                                        class="btn btn-dark btn-lg">
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>