<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLinkNav"
           data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkNav">
            <a class="dropdown-item" th:href="@{/admin/adminPanel}" th:text="#{nav.admin}">adminPanel</a>
            <a class="dropdown-item" th:href="@{/user/profile}" th:text="#{nav.profile}">Profile</a>
            <a class="dropdown-item" th:href="@{/admin/listCoaches}" th:text="#{nav.coaches}">Coaches</a>
            <a class="dropdown-item" th:href="@{/admin/listClients}" th:text="#{nav.clients}">Clients</a>
            <a class="dropdown-item" th:href="@{/exercise/listExercises}" th:text="#{nav.exercises}">listExercises</a>
            <a class="dropdown-item" th:href="@{/admin/registerUser}" th:text="#{nav.addUser}">registerUser</a>
            <a class="dropdown-item" th:href="@{/exercise/createExercise}" th:text="#{nav.addExercise}">createExercise</a>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav">
            <a th:href="@{/admin/adminPanel}" class="nav-link navlogo text-center">
                <img th:src="@{/img/logo.png}" data-active-url="img/logo-active.png"
                     alt="">
            </a>
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link sidesthrd">
                    <span class="textside text-primary" th:text="#{nav.home}">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/user/profile}" class="nav-link sidesfifth">
                    <span class="textside text-primary" th:text="#{nav.profile}">Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/admin/listCoaches}" class="nav-link sidesecnd">
                    <span class="textside" th:text="#{nav.coaches}">Coaches</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/listClients}" class="nav-link sidesthrd">
                    <span class="textside" th:text="#{nav.clients}">Clients</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/exercise/listExercises}" class="nav-link sidesthrd">
                    <span class="textside" th:text="#{nav.exercises}">Exercises</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/admin/registerUser}" class="nav-link sidesfifth">
                    <span class="textside" th:text="#{nav.addUser}">Add user</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/exercise/createExercise}" class="nav-link sidesfifth">
                    <span class="textside" th:text="#{nav.addExercise}">Add exercise</span>
                </a>
            </li>
        </ul>
    </div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</nav>
