<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel - Edit exercise</title>

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/cimg/favicons/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-touch-icon-60x60.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-16x16.png}" sizes="16x16">
    <link rel="manifest" th:href="@{/img/favicons/manifest.json}">
    <link rel="shortcut icon" th:href="@{/img/favicons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/adminPanel.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" rel="stylesheet">
</head>
<body>

<header th:insert="admin/adminPanelNav :: nav"></header>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-12 col-lg-9 col-xl-7">
                            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                                <div class="card-body p-4 p-md-5">
                                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit exercise</h3>
                                    <form th:action="@{/exercise/updateExercise/{id}(id=${exercise.id})}"
                                          th:method="post"
                                          th:object="${exercise}">
                                        <div class="form-group">
                                            <label for="inputName">Name of exercise</label>
                                            <input type="text" class="form-control" id="inputName"
                                                   placeholder="The push-up" th:field="*{name}"/>
                                            <span th:if="${#fields.hasErrors('name')}"
                                                  th:errors="*{name}">Name Error</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputQuantity">Quantity</label>
                                            <input type="text" class="form-control" id="inputQuantity"
                                                   placeholder="4 / 15" th:field="*{quantity}"/>
                                            <span th:if="${#fields.hasErrors('quantity')}"
                                                  th:errors="*{quantity}">Name Error</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputLink">Link</label>
                                            <textarea class="form-control" id="inputLink"
                                                      rows="3" placeholder="Link of the exercise"
                                                      th:field="*{link}">
                                                </textarea>
                                            <span th:if="${#fields.hasErrors('link')}"
                                                  th:errors="*{link}">Name Error</span>
                                        </div>
                                        <div class="mt-4 pt-2">
                                            <button type="submit"
                                                    class="btn btn-dark btn-lg">
                                                Edit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/register.js}"></script>
</body>
</html>