<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav">
            <a th:href="@{/admin/adminPanel}" class="nav-link navlogo text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Gtk-dialog-info.svg">
            </a>
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link sidesthrd">
                    <span class="textside" th:text="#{nav.home}">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/user/profile}" class="nav-link sidesfifth">
                    <span class="textside" th:text="#{nav.profile}">Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/admin/listCoaches}" class="nav-link sidesecnd">
                    <span class="textside" th:text="#{nav.coaches}">Coaches</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/listClients}" class="nav-link sidesthrd">
                    <span class="textside" th:text="#{nav.clients}">Clients</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/exercise/listExercises}" class="nav-link sidesthrd">
                    <span class="textside" th:text="#{nav.exercises}">Exercises</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/admin/registerUser}" class="nav-link sidesfifth">
                    <span class="textside" th:text="#{nav.addUser}">Add user</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/exercise/createExercise}" class="nav-link sidesfifth">
                    <span class="textside" th:text="#{nav.addExercise}">Add exercise</span>
                </a>
            </li>


        </ul>


    </div>
</nav>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>