<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel - Exercises</title>

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/cimg/favicons/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-touch-icon-60x60.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-16x16.png}" sizes="16x16">
    <link rel="manifest" th:href="@{/img/favicons/manifest.json}">
    <link rel="shortcut icon" th:href="@{/img/favicons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link th:href="@{/css/adminPanel.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" rel="stylesheet">
</head>
<body>

<header th:insert="admin/adminPanelNav :: nav"></header>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <h1>Exercises List</h1>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col"><a
                            th:href="@{'/exercise/listExercises?pageNo=' + ${currentPage} + '&sortField=id&sortDir=' + ${reverseSortDir}}">
                        Name</a></th>
                    <th scope="col"><a
                            th:href="@{'/exercise/listExercises?pageNo=' + ${currentPage} + '&sortField=id&sortDir=' + ${reverseSortDir}}">
                        Quantity</a></th>

                    <th scope="col">Example of the exercise(Link)</th>
                    <th scope="col">Note</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exercise : ${listExercises}">

                    <td th:text="${exercise.name}"></td>
                    <td th:text="${exercise.quantity}"></td>
                    <td><a target="_blank" th:text="${exercise.link}"
                           th:href="${exercise.link}">Example of the exercise</a></td>
                    <td th:text="${exercise.note}"></td>
                    <td>
                        <ul class="list-inline ">
                            <li class="list-inline-item">
                                <a th:href="@{/exercise/editExercise/{id}(id=${exercise.id})}" class="text-info"
                                   data-toggle="tooltip"
                                   data-original-title="Edit"><i
                                        class="fas fa-pencil-alt"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <form th:action="@{/exercise/deleteExercise/{id}(id=${exercise.id})}" method="post">
                                    <button type="submit"><i
                                            class="far fa-trash-alt"></i></button>
                                </form>
                            </li>
                        </ul>
                    </td>
                </tr>

                </tbody>
            </table>
            <div th:if="${totalPages > 1}">
                <div class="row col-sm-10">
                    <div class="col-sm-2">
                        Total Rows: [[${totalItems}]]
                    </div>
                    <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/admin/listClients?pageNo=' + ${i}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/admin/listClients?pageNo=' + ${currentPage + 1}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>

                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/admin/listClients?pageNo=' + ${totalPages}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>