<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin Panel</title>

        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/cimg/favicons/apple-touch-icon-57x57.png}">
        <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-touch-icon-60x60.png}">
        <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-32x32.png}" sizes="32x32">
        <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-16x16.png}" sizes="16x16">
        <link rel="manifest" th:href="@{/img/favicons/manifest.json}">
        <link rel="shortcut icon" th:href="@{/img/favicons/favicon.ico}">
        <meta name="msapplication-TileColor" content="#00a8ff">
        <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/adminPanel.css}" rel="stylesheet" type="text/css">
</head>
<body>


<header th:insert="admin/adminPanelNav :: nav"></header>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">

            <!-- Icon Cards-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                <div class="inforide">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Gtk-dialog-info.svg">
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                            <h4>Coaches</h4>
                            <h2 th:text="${totalNumberCoaches}"></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                <div class="inforide">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Gtk-dialog-info.svg">
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                            <h4>Clients</h4>
                            <h2 th:text="${totalNumberClients}"></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                <div class="inforide">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Gtk-dialog-info.svg">
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                            <h4>Exercises</h4>
                            <h2 th:text="${totalNumberExercises}"></h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">email</th>
                    <th scope="col">weight&height</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client : ${listClients}">
                    <th scope="row" th:text="${client.id}"></th>
                    <td th:text="${client.firstName} +' ' +${client.lastName}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.weight} +'(kg) & ' +${client.height}+'(cm)'"></td>
                    <td>
                        <ul>
                    <td th:text="${client.coach.firstName} +' ' +${client.coach.lastName}"></td>
                        <li class="list-inline-item">
                            <form th:action="@{/admin/attachCoachForUser/{id}(id=${client.id})}" method="post">
                                <button type="submit">Attach</button>
                            </form>

                        </li>
                        <li class="list-inline-item">
                            <form th:action="@{/admin/declineCoachForUser/{id}(id=${client.id})}" method="post">
                                <button type="submit"><i
                                        class="far fa-trash-alt">Decline</i></button>
                            </form>
                        </li>
                        </ul>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>