<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center-mobile">
                <h3 class="white" th:text="#{footer.apply.text}">Reserve a Free Trial Class!</h3>
                <h5 class="light regular light-white" th:text="#{footer.apply.text.minor}">Shape your body and improve your
                    health.</h5>
                <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue ripple trial-button"
                   th:text="#{footer.apply.btn}">Start
                    Free Trial</a>

            </div>
            <div class="col-sm-6 text-center-mobile">
                <h3 class="white">Opening Hours <span class="open-blink"></span></h3>
                <div class="row opening-hours">
                    <div class="col-sm-6 text-center-mobile">
                        <h5 class="light-white light">Mon - Fri</h5>
                        <h3 class="regular white">9:00 - 22:00</h3>
                    </div>
                    <div class="col-sm-6 text-center-mobile">
                        <h5 class="light-white light">Sat - Sun</h5>
                        <h3 class="regular white">10:00 - 18:00</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottom-footer text-center-mobile">
            <div class="col-sm-8">
                <p>&copy; 2022 All Rights Reserved. Powered by <strong>Semkov.S</strong></p>
            </div>
            <div class="col-sm-4 text-right text-center-mobile">
                <ul class="social-footer">
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-google"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>