<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/cimg/favicons/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-touch-icon-60x60.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-16x16.png}" sizes="16x16">
    <link rel="manifest" th:href="@{/img/favicons/manifest.json}">
    <link rel="shortcut icon" th:href="@{/img/favicons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">

    <link th:href="@{/css/profile.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/navLinkBtn.css}" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container-xl px-4 mt-4">

    <nav class="nav nav-borders">
        <a class="nav-link link-button ms-0" th:href="@{/}" th:text="#{nav.home}">Home</a>
        <a class="nav-link active ms-0" th:href="@{/user/profile}" th:text="#{nav.profile}">Profile</a>
        <a class="nav-link" th:href="@{/user/billing}" th:text="#{nav.billing}">Billing</a>
        <a class="nav-link" th:href="@{/user/security}" th:text="#{nav.security}">Security</a>
        <a class="nav-link" th:href="@{/user/workout}" th:text="#{nav.workout}">Workout</a>
        <a class="nav-link" th:href="@{/client/listCoachesForClient}" th:text="#{nav.coaches}">Coaches</a>
        <a sec:authorize="hasAuthority('admin:read')" class="nav-link" th:href="@{/admin/adminPanel}"
           th:text="#{nav.admin}">Admin Panel</a>
        <form th:action="@{/auth/logout}" method="post">
            <input type="submit" class="nav-link link-button"  th:value="#{login.logout}"/>
        </form>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-bs-toggle="dropdown" aria-expanded="false" th:text="${#strings.toUpperCase(#locale)}">
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" th:href="@{''(language=en)}" th:text="#{lang.eng}">Eng</a><i
                    class="flag flag-united-states"></i>
                <a class="dropdown-item" th:href="@{''(language=ru)}" th:text="#{lang.ru}">Rus</a><i
                    class="flag flag-russia"></i>
                <a class="dropdown-item" th:href="@{''(language=uk)}" th:text="#{lang.uk}">Ukr</a><i
                    class="flag flag-ukraine"></i>
            </ul>
        </div>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header" th:text="#{profile.profilePicture}">Profile Picture</div>
                <div class="card-body text-center">
                    <img th:if="${user.photos != null}" class="img-account-profile rounded-circle mb-2"
                         th:src="@{${user.photosImagePath}}"/>
                    <form th:action="@{/user/uploadImage}"
                          th:object="${user}" method="post"
                          enctype="multipart/form-data">
                        <input th:field="*{id}" hidden>
                        <input th:field="*{password}" hidden>
                        <input th:field="*{firstName}" hidden>
                        <input th:field="*{lastName}" hidden>
                        <input th:field="*{birthDate}" hidden>
                        <input th:field="*{coach}" hidden>
                        <input th:field="*{gender}" hidden>
                        <input th:field="*{phone}" hidden>
                        <input th:field="*{email}" hidden>
                        <input th:field="*{height}" hidden>
                        <input th:field="*{weight}" hidden>
                        <input th:field="*{education}" hidden>
                        <input th:field="*{achievement}" hidden>
                        <input th:field="*{specialization}" hidden>
                        <input th:field="*{additionalInfo}" hidden>
                        <input th:field="*{role}" hidden>
                        <input th:field="*{statusCoach}" hidden>
                        <input th:field="*{typeUser}" hidden>
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">
                            <input REQUIRED class="form-control" id="customFile" type="file" name="image"
                                   accept="image/png, image/jpeg"/>
                            <label class="text-warning form-label">JPG or PNG no larger than 5 MB</label>
                        </div>
                        <!-- Profile picture upload button-->
                        <button class="btn btn-primary" type="submit" th:text="#{profile.upload.new.image}">Upload new
                            image
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header" th:text="#{profile.accountDetails}">Account Details</div>
                <div class="card-body">
                    <form th:method="post">
                        <div class="mb-3 "
                             th:if="${user.typeUser == T(com.example.springsecuritydemo.model.dto.TypeUser).CLIENT &&
                             user.getStatusCoach() == T(com.example.springsecuritydemo.model.StatusCoach).ATTACHED}">
                            <label class="small mb-1" th:text="#{profile.showCoach}">Your coach (please love and
                                respect)</label>
                            <th:block th:if="${user.coach != null}">
                                <input readonly class="form-control" type="text"
                                       th:value="${user.coach.firstName +' '+user.coach.lastName}">
                            </th:block>
                            <th:block th:unless="${user.coach != null}">
                                <input readonly class="form-control" type="text"
                                       th:value="#{profile.notShowCoach}">
                            </th:block>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName" th:text="#{user.field.firstName}">First
                                    name</label>
                                <input readonly class="form-control" id="inputFirstName" type="text"
                                       th:field="${user.firstName}">


                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName" th:text="#{user.field.lastName}">Last
                                    name</label>
                                <input readonly class="form-control" id="inputLastName" type="text"
                                       th:field="${user.lastName}">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3"
                             th:if="${user.typeUser == T(com.example.springsecuritydemo.model.dto.TypeUser).CLIENT}">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputHeight"
                                       th:text="#{client.field.height}">Height(cm)</label>
                                <input readonly class="form-control" id="inputHeight" type="text"
                                       placeholder="Enter your height" th:field="${user.height}">
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputWeight"
                                       th:text="#{client.field.weight}">Weight(kg)</label>
                                <input readonly class="form-control" id="inputWeight" type="text"
                                       placeholder="Enter your weight" th:field="${user.weight}">
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress" th:text="#{user.field.email}">Email
                                address</label>
                            <input readonly class="form-control" id="inputEmailAddress" type="email"
                                   th:field="${user.email}">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone" th:text="#{user.field.phone}">Phone
                                    number</label>
                                <input readonly class="form-control" id="inputPhone" type="tel"
                                       placeholder="Enter your phone number" th:field="${user.phone}">
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday"
                                       th:text="#{user.field.birthDate}">Birthday</label>
                                <input readonly class="form-control" id="inputBirthday" type="date" name="birthday"
                                       placeholder="Enter your birthday" th:field="${user.birthDate}">
                            </div>
                        </div>
                        <div id="coachContent"
                             th:if="${user.typeUser == T(com.example.springsecuritydemo.model.dto.TypeUser).COACH}">
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEducation" th:text="#{coach.field.education}">Education</label>
                                <input readonly type="text" id="inputEducation"
                                       class="form-control form-control-lg"
                                       th:field="*{user.education}"/>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputAchievement" th:text="#{coach.field.achievement}">Achievement</label>
                                <input readonly type="text" id="inputAchievement"
                                       class="form-control form-control-lg"
                                       th:field="*{user.achievement}"/>
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="inputAdditionalInfo"
                                       th:text="#{coach.field.additionalInfo}">Additional Info</label>
                                <input readonly type="text" id="inputAdditionalInfo"
                                       class="form-control form-control-lg"
                                       th:field="*{user.additionalInfo}"/>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputSpecialization"
                                       th:text="#{coach.field.specialization}">Specialization</label>
                                <input readonly type="text" id="inputSpecialization"
                                       class="form-control form-control-lg"
                                       th:field="*{user.specialization}"/>
                            </div>
                        </div>
                    </form>
                    <a th:href="@{/user/editUser/{id}(id=${user.id})}" th:text="#{profile.edit}">Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragment/footerProfile :: footer"></footer>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>