<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout</title>

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/cimg/favicons/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-touch-icon-60x60.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-16x16.png}" sizes="16x16">
    <link rel="manifest" th:href="@{/img/favicons/manifest.json}">
    <link rel="shortcut icon" th:href="@{/img/favicons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/security.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/workout.css}" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
    <link th:href="@{/css/navLinkBtn.css}" rel="stylesheet" type="text/css">
    <style>

        .didExercise {
            cursor: pointer;
        }

        .done:before {
            content: '\2705';
        }

    </style>
</head>

<body>

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link link-button ms-0" th:href="@{/}" th:text="#{nav.home}">Home</a>
        <a class="nav-link  ms-0" th:href="@{/user/profile}" th:text="#{nav.profile}">Profile</a>
        <a class="nav-link" th:href="@{/user/billing}" th:text="#{nav.billing}">Billing</a>
        <a class="nav-link" th:href="@{/user/security}" th:text="#{nav.security}">Security</a>
        <a class="nav-link active" th:href="@{/user/workout}" th:text="#{nav.workout}">Workout</a>
        <a class="nav-link" th:href="@{/client/listCoachesForClient}"
           th:text="#{nav.coaches}">Coaches</a>
        <a sec:authorize="hasAuthority('admin:read')" class="nav-link" th:href="@{/admin/adminPanel}"
           th:text="#{nav.admin}">Admin Panel</a>
        <form th:action="@{/auth/logout}" method="post">
            <input type="submit" class="nav-link link-button" th:value="#{login.logout}"/>
        </form>

        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-bs-toggle="dropdown" aria-expanded="false" th:text="${#strings.toUpperCase(#locale)}">
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" th:href="@{''(language=en)}" th:text="#{lang.eng}">Eng</a><i
                    class="flag flag-united-states"></i>
                <a class="dropdown-item" th:href="@{''(language=ru)}" th:text="#{lang.ru}">Rus</a><i
                    class="flag flag-russia"></i>
                <a class="dropdown-item" th:href="@{''(language=uk)}" th:text="#{lang.uk}">Ukr</a><i
                    class="flag flag-ukraine"></i>
            </ul>
        </div>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-primary">
                <div class="card-body">
                    <div class="h3  text-center" th:text="#{workout.exercise}">Exercises</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 2-->
            <div class="card h-100 border-start-lg border-start-secondary">
                <div class="card-body">
                    <div class="h3 text-center" th:text="#{workout.performing}">Performing</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 3-->
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="h3 text-center " th:text="#{workout.quantity}">Quantity</div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" th:each="exercise,iter : ${listExercises}">
        <div class="font-weight-bold " th:text="${iter.count}">done</div>
        <div class="col-lg-3 mb-3 ">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-primary">
                <div class="card-body ">
                    <div class="h3 text-uppercase  text-success font-weight-bold text-center"
                         th:text="${exercise.name}">The Push-Up
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6">
            <!-- Billing card 2-->
            <div class="card h-100 border-start-lg border-start-secondary">
                <div class="card-body ">
                    <iframe th:src="${exercise.link}" title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3 ">
            <!-- Billing card 3-->
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="h3 didExercise text-danger font-weight-bold  text-center"
                         th:text="${exercise.quantity}">4 / 20
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" card-body ">
                <div class="card-body  ">
                    <div class="h3 bg-warning  text-uppercase  text-black font-weight-bold text-center"
                         th:text="${exercise.note}">
                    </div>
                </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $('.didExercise').click(function () {
        $(this).toggleClass('done');
    });
</script>

<footer th:insert="fragment/footerProfile :: footer"></footer>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>


</body>
</html>