<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error page</title>

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/cimg/favicons/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-touch-icon-60x60.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-16x16.png}" sizes="16x16">
    <link rel="manifest" th:href="@{/img/favicons/manifest.json}">
    <link rel="shortcut icon" th:href="@{/img/favicons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->

    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.css}">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.1.0/css/font-awesome.min.css}">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/eleganticons/et-icons.css}">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/cardio.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" rel="stylesheet">

</head>

<body>
<div class="preloader">
    <img th:src="@{/img/loader.gif}" alt="Preloader image">
</div>
<nav class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/logo-active.png}"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-nav">

                <li><a href="#team"></a></li>
                <th:block sec:authorize="isAnonymous()">
                    <li><a th:href="@{/auth/login}" class="btn btn-blue" th:text="#{login.signIn}">Sign in</a></li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li>
                        <form th:action="@{/auth/logout}" method="post">
                            <input type="submit" class="btn btn-blue" th:value="#{login.logout}"/>
                        </form>
                    </li>
                </th:block>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<section id="team" class="section gray-bg m5">
    <div class="container">
        <div class="row title text-center">
            <h2>Something went wrong! </h2>
            <h3>Sorry but you don't have access for this page</h3>
            <a th:href="@{/}">Go Home</a>
        </div>
    </div>
</section>
<footer th:insert="fragment/footer :: footer"></footer>
<!-- Scripts -->
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/typewriter.js}"></script>
<script th:src="@{/js/jquery.onepagenav.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>