<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header th:insert="fragment/header :: header"></header>
<div class="site-content">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        </div>
                        <form th:action="@{/coach/addCoach}" th:method="post" th:object="${coach}">
                            <div class="row">
                                <div class="form-group">
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="education">Education </label>
                                        <input type="text" id="education" class="form-control form-control-lg"
                                               th:field="*{education}"/>
                                        <span th:if="${#fields.hasErrors('education')}"
                                              th:errors="*{education}">Name Error</span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="achievement">Achievement</label>
                                        <input type="text" id="achievement" class="form-control form-control-lg"
                                               th:field="*{achievement}"/>
                                        <span th:if="${#fields.hasErrors('achievement')}"
                                              th:errors="*{achievement}">Name Error</span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="additionalInfo">Achievement</label>
                                        <input type="text" id="additionalInfo" class="form-control form-control-lg"
                                               th:field="*{additionalInfo}"/>
                                        <span th:if="${#fields.hasErrors('additionalInfo')}"
                                              th:errors="*{additionalInfo}">Name Error</span>
                                    </div>

                                </div>
                            </div>
                            <div class="mt-4 pt-2">
                                <button type="submit"
                                        class="btn btn-dark btn-lg">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>