<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header th:insert="fragment/header :: header"></header>
<div class="site-content">
<h1>HOME</h1>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
</div>
</body>
</html>