<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/cimg/favicons/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-touch-icon-60x60.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-16x16.png}" sizes="16x16">
    <link rel="manifest" th:href="@{/img/favicons/manifest.json}">
    <link rel="shortcut icon" th:href="@{/img/favicons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->

    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.css}">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.1.0/css/font-awesome.min.css}">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/eleganticons/et-icons.css}">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/cardio.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/select.css}">

    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" rel="stylesheet">

</head>

<body>
<div class="preloader">
    <img th:src="@{/img/loader.gif}" alt="Preloader image">
</div>
<nav class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img th:src="@{/img/logo.png}" data-active-url="img/logo-active.png"
                                                  alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-nav">
                <li class="text-uppercase" sec:authorize="isAuthenticated()"><a th:href="@{/user/profile}"
                                                                                th:text="#{nav.profile}">Profile</a>
                </li>
                <li sec:authorize="isAnonymous()"><a href="#intro" th:text="#{nav.intro}">Intro</a></li>
                <li><a href="#services" th:text="#{nav.services}">Services</a></li>
                <li><a href="#team" th:text="#{nav.classes }">Classes</a></li>
                <li><a href="#pricing" th:text="#{nav.pricing}">Pricing</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/auth/login}" class="btn btn-blue"
                                                     th:text="#{login.signIn}">Sign in</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/auth/logout}" method="post">
                        <input type="submit" class="btn btn-blue" th:value="#{login.logout}"/>
                    </form>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header id="intro">
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="light white">Take care of your body.</h3>
                        <h1 class="white typed">It's the only place you have to live.</h1>
                        <span class="typed-cursor">|</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="cut cut-top"></div>
    <div class="container">
        <div class="row intro-tables">
            <div class="col-md-4">
                <div class="intro-table intro-table-first">
                    <h5 class="white heading" th:text="#{todaySchedule}">Today's Schedule</h5>
                    <div class="owl-carousel owl-schedule bottom">
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Early Exercise</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">CrossFit</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Cardio</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">After Lunch Exercise</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">15:00 - 17-00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Judo</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">18:00 - 20:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Muscle Building</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">20:00 - 21:00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Personal Exercise</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">7:30 - 16:30</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-table intro-table-hover">
                    <h5 class="white heading hide-hover" th:text="#{discount.couple.head}">Discount for couple/pair
                        training</h5>
                    <div class="bottom">
                        <h4 class="white heading small-heading no-margin regular" th:text="#{discount.couple.get}">
                            Get</h4>
                        <h4 class="white heading small-pt" th:text="#{discount.couple.discount}">20% Discount</h4>
                        <a th:text="#{footer.apply.btn}" href="#" data-toggle="modal" data-target="#modal1"
                           class="btn btn-white-fill expand">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-table intro-table-third">
                    <h5 class="white heading" th:text="#{happyClients}">Happy Clients</h5>
                    <div class="owl-testimonials bottom">
                        <div class="item">
                            <h4 class="white heading content">I couldn't be more happy with the results!</h4>
                            <h5 class="white heading light author">Adam Jordan</h5>
                        </div>
                        <div class="item">
                            <h4 class="white heading content">I can't believe how much better I feel!</h4>
                            <h5 class="white heading light author">Greg Pardon</h5>
                        </div>
                        <div class="item">
                            <h4 class="white heading content">Incredible transformation and I feel so healthy!</h4>
                            <h5 class="white heading light author">Christina Goldman</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="section section-padded">
    <div class="container">
        <div class="row text-center title">
            <h2 th:text="#{nav.services}">Services</h2>
            <h4 class="light muted" th:text="#{services.description}">Achieve the best results with our wide variety of
                training options!</h4>
        </div>
        <div class="row services">
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img th:src="@{/img/icons/heart-blue.png}" alt="" class="icon">
                    </div>
                    <h4 class="heading" th:text="#{classes.functional}">Cardio Training</h4>
                    <p class="description" th:text="#{classes.functional.description}">Функціональне тренування це
                        сучасний трендовий вид тренування,
                        який використовується для покращення здоров’я та фізичного стану</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img th:src="@{/img/icons/guru-blue.png}" alt="" class="icon">
                    </div>
                    <h4 class="heading" th:text="#{classes.stretching}">Stretching</h4>
                    <p class="description" th:text="#{classes.stretching.description}"></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img th:src="@{/img/icons/weight-blue.png}" alt="" class="icon">
                    </div>
                    <h4 class="heading" th:text="#{classes.power}">Power Training</h4>
                    <p class="description" th:text="#{classes.power.description}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="cut cut-bottom"></div>
</section>
<section id="team" class="section gray-bg">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top" th:text="#{classes}">Classes</h2>
            <h4 class="light muted" th:text="#{classes.type}">Types of training</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" th:inline="text"
                         style="background:url{[[@{img/team/team-cover3.jpg}]]}; background-size:cover;">
                        <div class="overlay text-center">
                            <h3 class="white" th:text="#{level.difficulty.hard}">Hard</h3>
                            <h5 class="light light-white" th:text="#{level}">1 - 5 sessions / week</h5>
                        </div>
                    </div>
                    <img th:src="@{/img/team/class1.jpg}" alt="Team Image" class="avatar">
                    <div class="title">
                        <h4 th:text="#{classes.functional}">Functional</h4>
                        <h5 class="muted regular"></h5>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" th:style="'background: url(/img/team/team-cover3.jpg) background-size:cover;'">
                        <div class="overlay text-center">
                            <h3 class="white" th:text="#{level.difficulty.light}">light</h3>
                            <h5 class="light light-white" th:text="#{level}">1 - 5 sessions / week</h5>
                        </div>
                    </div>
                    <img th:src="@{/img/team/class2.jpg}" alt="Team Image" class="avatar">
                    <div class="title">
                        <h4 th:text="#{classes.stretching}">Stretching</h4>
                        <h5 class="muted regular"></h5>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url{[[@{img/team/team-cover3.jpg}]]}; background-size:cover;">
                        <div class="overlay text-center">
                            <h3 class="white" th:text="#{level.difficulty.medium}">light</h3>
                            <h5 class="light light-white" th:text="#{level}">1 - 5 sessions / week</h5>
                        </div>
                    </div>
                    <img th:src="@{/img/team/class3.jpg}" alt="Team Image" class="avatar">
                    <div class="title">
                        <h4 th:text="#{classes.power}">Power training</h4>
                        <h5 class="muted regular"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="section">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top white" th:text="#{nav.pricing}">Pricing</h2>
            <h4 class=" light white" th:text="#{pricing.choice}">Choose your favorite pricing plan and sign up
                today!</h4>
        </div>
        <div class="row no-margin">
            <div class="col-md-7 no-padding col-md-offset-5 pricings text-center">
                <div class="pricing">
                    <div class="box-main active" data-img="img/pricing1.jpg">
                        <h4 class="white" th:text="#{pricing.online.training}">Online training</h4>
                        <h4 class="white regular light">300 &#8372 / <span class="small-font"
                                                                           th:text="#{pricing.online.oneTraining}">month</span>
                        </h4>
                        <a sec:authorize="isAnonymous()" href="#" data-toggle="modal" data-target="#modal1"
                           class="btn btn-white-fill"
                           th:text="#{login.register}">Sign Up Now</a>
                        <i class="info-icon icon_question"></i>
                    </div>
                    <div class="box-second active">
                        <ul class="white-list text-left">
                            <li th:text="#{pricing.online.onePersonalTrainer}">One Personal Trainer</li>
                            <li th:text="#{pricing.online.varietyExercises}">Great variety of exercises</li>
                            <li th:text="#{pricing.online.rightPlan}">A carefully selected training plan for you</li>
                            <li th:text="#{pricing.online.support}">Constant support and communication with the coach
                            </li>
                            <li th:text="#{pricing.online.time}">Train at any convenient time</li>
                        </ul>
                    </div>
                </div>
                <div class="pricing">
                    <div class="box-main" data-img="img/pricing2.jpg">
                        <h4 class="white" th:text="#{pricing.personal.training}">Personal training</h4>
                        <h4 class="white regular light">600 &#8372 / <span class="small-font"
                                                                           th:text="#{pricing.online.oneTraining}">month</span>
                        </h4>
                        <a sec:authorize="isAnonymous()" href="#" data-toggle="modal" data-target="#modal1"
                           class="btn btn-white-fill"
                           th:text="#{login.register}">Sign Up Now</a>
                        <i class="info-icon icon_question"></i>
                    </div>
                    <div class="box-second">
                        <ul class="white-list text-left">
                            <li th:text="#{pricing.personal.doRightExercise}">Constant supervision over the correctness
                                of the exercise and load distribution
                            </li>
                            <li th:text="#{pricing.personal.improving}">Improving health, performance, body shape, and
                                life
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-padded blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="owl-twitter owl-carousel">
                    <div class="item text-center">
                        <i class="icon fa fa-twitter"></i>
                        <h4 class="white light">To enjoy the glow of good health, you must exercise.</h4>
                        <h4 class="light-white light">#health #training #exercise</h4>
                    </div>
                    <div class="item text-center">
                        <i class="icon fa fa-twitter"></i>
                        <h4 class="white light">To enjoy the glow of good health, you must exercise.</h4>
                        <h4 class="light-white light">#health #training #exercise</h4>
                    </div>
                    <div class="item text-center">
                        <i class="icon fa fa-twitter"></i>
                        <h4 class="white light">To enjoy the glow of good health, you must exercise.</h4>
                        <h4 class="light-white light">#health #training #exercise</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <h3 class="white" th:text="#{login.register}"></h3>
            <form th:action="@{/user/signUpEmail}" class="popup-form">
                <label for="name" class="white light" th:text="#{user.fullName}"></label>
                <input type="text" required id="name" class="form-control form-white" name="name"
                       pattern="[A-Za-zА-Яа-яЁёІіЇї'-'\s]{1, 40}$"
                       th:placeholder="#{user.fullName}">
                <label for="phone" class="white light" th:text="#{user.field.phone}">
                </label>
                <input type="text" id="phone" required class="form-control form-white" name="phone"
                       pattern="^(?:\+38)?(0\d{9})$"
                       placeholder="Формат: +380123456789">
                <textarea class="form-control form-white" name="comment"
                          th:placeholder="#{comment}"></textarea>

                <label for="plan" class="white light" th:text="#{pricing.pricingPlan}">
                </label>
                <div class="optionbox">
                    <select name="plan" id="plan">
                        <option  selected value="free"
                                th:text="#{pricing.freeTrial}"></option>
                        <option  value="online"
                                th:text="#{pricing.online.training} + '(300&#8372)'">
                        </option>
                        <option  value="personal"
                                th:text="#{pricing.personal.training} + '(600&#8372)'">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-submit" th:text="#{submit}">Submit</button>
            </form>
        </div>
    </div>
</div>
<footer th:insert="fragment/footer :: footer"></footer>
<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
<!-- Scripts -->
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/typewriter.js}"></script>
<script th:src="@{/js/jquery.onepagenav.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>
