<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/cimg/favicons/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicons/apple-touch-icon-60x60.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/img/favicons/favicon-16x16.png}" sizes="16x16">
    <link rel="manifest" th:href="@{/img/favicons/manifest.json}">
    <link rel="shortcut icon" th:href="@{/img/favicons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->

    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.css}">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.1.0/css/font-awesome.min.css}">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/eleganticons/et-icons.css}">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/cardio.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" rel="stylesheet">

</head>

<body>
<div class="preloader">
    <img th:src="@{/img/loader.gif}" alt="Preloader image">
</div>
<nav class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/logo-active.png}"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-nav">
                <th:block sec:authorize="isAuthenticated()">
                    <li><a th:href="@{/user/profile}" th:text="#{nav.profile}">Profile</a></li>
                </th:block>

                <li><a href="#team"></a></li>
                <th:block sec:authorize="isAnonymous()">
                    <li><a th:href="@{/user/register}" class="btn btn-blue" th:text="#{login.signIn}">Sign in</a></li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li>
                        <form th:action="@{/auth/logout}" method="post">
                            <input type="submit" class="btn btn-blue" th:value="#{login.logout}"/>
                        </form>
                    </li>
                </th:block>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<section id="team" class="section gray-bg m5">
    <div class="container">

        <div class="row title text-center">
            <h2 class="margin-top" th:text="#{login.signIn}">Sign in</h2>
        </div>
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <form  th:action="@{/auth/login}" method="post">
                    <div th:if="${error}" class="alert alert-danger">
                        <span th:text="#{login.failed}"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingInput" th:text="#{user.field.email}">Email address</label>
                        <input type="email" name="username" class="form-control" id="floatingInput"
                               placeholder="name@example.com">
                    </div>
                    <hr class="my-4">
                    <div class="form-floating mb-3">
                        <label for="floatingPassword" th:text="#{user.field.password}">Password</label>
                        <input type="password" name="password" class="form-control" id="floatingPassword"
                               placeholder="Password">
                    </div>

                    <!--                        <div class="form-check mb-3">-->
                    <!--                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">-->
                    <!--                            <label class="form-check-label" for="rememberPasswordCheck">-->
                    <!--                                Remember password-->
                    <!--                            </label>-->
                    <!--                        </div>-->
                    <hr class="my-4">
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-signIn text-uppercase fw-bold"
                                    th:text="#{login.signIn}">Sign
                                in
                            </button>
                        </div>
                    </div>
                    <hr class="my-4">

                </form>
                <div class="row text-center">
                    <div class="col-md-6 mb-6">
                        <button class="btn btn-google text-uppercase fw-bold mr-1" type="submit">
                            <span> <i class="fab fa-facebook-f me-2"></i></span>
                            <span th:text="#{login.sign.google}">Sign in with Google</span>
                        </button>
                    </div>

                    <div class="col-md-6 mb-6">
                        <button class="btn btn-facebook text-uppercase fw-bold mr-1" type="submit">
                            <span> <i class="fab fa-facebook-f me-2"></i> </span>
                            <span th:text="#{login.sign.facebook}">Sign in with Facebook</span>
                        </button>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row">
                    <div class="col text-center">
                        <a class="  btn btn-signIn text-uppercase fw-bold"
                           th:href="@{/user/registration}">
                            <span> <i class="fas fa-user-plus"></i></span>
                            <span th:text="#{login.register}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center-mobile">
                <h3 class="white">Reserve a Free Trial Class!</h3>
                <h5 class="light regular light-white">Shape your body and improve your health.</h5>
                <a href="#" class="btn btn-blue ripple trial-button">Start Free Trial</a>
            </div>
            <div class="col-sm-6 text-center-mobile">
                <h3 class="white">Opening Hours <span class="open-blink"></span></h3>
                <div class="row opening-hours">
                    <div class="col-sm-6 text-center-mobile">
                        <h5 class="light-white light">Mon - Fri</h5>
                        <h3 class="regular white">9:00 - 22:00</h3>
                    </div>
                    <div class="col-sm-6 text-center-mobile">
                        <h5 class="light-white light">Sat - Sun</h5>
                        <h3 class="regular white">10:00 - 18:00</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottom-footer text-center-mobile">
            <div class="col-sm-8">
                <p>&copy; 2022 All Rights Reserved. Powered by <strong>Semkov.S</strong></p>
            </div>
            <div class="col-sm-4 text-right text-center-mobile">
                <ul class="social-footer">
                    <li><a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-google"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
<!-- Scripts -->
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/typewriter.js}"></script>
<script th:src="@{/js/jquery.onepagenav.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/register.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>